/* Header css */
.text-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btn{
    color: white;
}
.nav {
    text-decoration: none;
    color: white;
}

.nav:hover {
    text-decoration: none;
    color: #777;
}

.header-img {
    width: 50px;
    height: 50px;
}

/* Character css */

.character-body{
    display: flex;
    background-color: grey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 40px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    margin: 30px;
}

#char-main-content{
    width: 100%;
    height: auto;
    background: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#char-container{
    width: 25%;
    height: 100%;
    color: white;
    background-color: pink;
    border: 2px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.char-img {
    margin: 20px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.more-info-btn{
    background-color: black;
    color: white;
    border: none;
    margin: 20px;
}

/*CSS for more information*/

#more-details{
    width: 70%;
    height: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: wheat;

}

.more-img {
    width: 100%;
    margin: 20px;
    height: auto;
}

.more-img-container{
    width: 100%;
    height: auto;
    margin-right: 30px;
    display: flex;
    justify-content: center;

}

.more-txt-container{
    width: 100%;
    margin-left: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.more-txt{
    font-size: 25px;
    margin-top: 20px;
}

/*testing*/

.card-container{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.more-body{
    width: 60%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.more-title{
    width: 60%;
    text-align: center;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#char-wiki-info{
    margin-top: 50px;
    width: 70%;
    background: wheat;
}

.wiki-txt{
    width: 70%;

}