*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header css */


.header{
    width: 100%;
    display: flex;
    background-color: rgb(149, 145, 145);
    height: 65px;
    line-height: 65px;
}

.header-content{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: rgb(149, 145, 145);
}


.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover{
    background: rgb(68, 65, 64);
}

.nav-links li{
    list-style: none;
    
}

.nav-links{
    
    display: flex;
    margin-top: 20px;
}


.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.logo{
    width: 200px;
    height: auto;

}

.btn{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.cancel-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}

#menu-btn{
    display: none;
}

#cancel-btn{
    display: none;
}
@media screen and (max-width: 880px)
{

    .btn {
        display: block;
    }

    .nav-links::-webkit-scrollbar{
        width: 0px;
    }

    .nav-links{
        margin: 0;
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        display: block;
        background: rgb(90, 87, 84);
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        transition: all 0.3s ease;
    }

    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .search-form{
        flex-direction: column;
        align-items: center;
    }

    .search-box{
        width: 70%;
    }
    .search-btn{
        margin-top: 20px;
        width: 50%;
    }
}





/* Character css */

.character-body{
    display: flex;
    background-image: linear-gradient(to bottom right, rgb(68, 65, 64), rgb(134, 22, 42),rgb(68, 65, 64) ); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-header{
    font-size: 40px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    color: white;
    margin: 30px;
}

#char-main-content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#char-container{
    width: 25%;
    min-width: 250px;
    height: 100%;
    color: black;
    font-weight: 500;
    font-size: 25px;
    background-color: white;
    border: 4px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.char-img {
    margin: 20px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid black;
}

.more-info-btn{
    background: rgb(149, 145, 145, 0.2);
    color: black;
    border: none;
    margin: 20px;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.more-info-btn:hover{
    background: rgb(149, 145, 145, 0.8);
}
/*CSS for more information*/

.more-info-card {
    border: 5px solid black;
    width: 70%;
    min-width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #a39ea1;
    color: white;
    text-align: center;
    padding: 2em;
}


#more-details{
    width: 100%;
    display: flex;
    justify-content: center;
}

.char-image{
    width: 250px;
    border-radius: 50%;
    border: 4px solid black;
}

.char-name{
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: 1px;
}

.char-main{
    margin-top: 2em;
}

.char-name::after{
    content: '';
    display: block;
    height: 1px;
    width: 2em;
    background: black;
    margin: 0.5em auto;
}

.char-text{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
}

/* responsive for character information card */
@media (min-width: 1300px){
    .more-info-card{
        flex-direction: row;
    }

    .char-main{
        text-align: left;
        margin-left: 100px;
    }

    .char-name::after{
        margin-left: 0;
    }

    .char-image{
        width: 400px;
    }
}

#char-wiki-info{
    min-width: 400px;
    margin-top: 50px;
    width: 70%;

}

.card-header {
    color: black;
    font-size: 30px;
}

.wiki-text{
    padding: 10px;
    text-align: justify;
}

.cards{
    border-radius: 20px;
    border: 3px solid black;
    background: #a39ea1;
}
/* css for back button */
.top-container{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.search-box{
    border: none;
    color: black;
}

.search-btn{
    background: white;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
}

.search-btn:hover{
    background: rgb(139, 139, 139);
}

.back-btn{
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background: white;
}

.back-btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.back-btn:hover{
    background: rgb(149, 145, 145, 0.8);
}

.footer{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.home-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgb(68, 65, 64), rgb(134, 22, 42),rgb(68, 65, 64) );
}

.carousel{
    border: 5px solid black;
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-img{
    width: 70%;
    height: auto;
}

.about-series{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 50px;
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
}

.about-txt{
    width: 60%;
    border-radius: 50px;
    border: 5px solid black;
    display: flex;
    background:white;
    color: black;
    padding: 50px;
    margin-top: 50px;
    text-align: justify;
}

.books{
    background: white;
    border-radius: 50px;
    border: 3px solid black;
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.book-img{
    width: 100%;
    height: auto;
}

.book-txt{
    color: black;
    padding-top: 10px;
    border-top: 2px solid black;
    margin-top: 20px;
    width: 100%;
    text-align: justify;
}

.book-grouping{
    display: flex;
    width: 26%;
    margin-top: 40px;
    justify-content: flex-start;
    flex-direction: column;
}