/* Header css */
.text-white {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btn{
    color: white;
}
.nav {
    text-decoration: none;
    color: white;
}

.nav:hover {
    text-decoration: none;
    color: #777;
}

.header-img {
    width: 50px;
    height: 50px;
}

/* Character css */

.character-body{
    display: flex;
    background-color: grey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 40px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    margin: 30px;
}

#char-main-content{
    width: 100%;
    height: auto;
    background: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#char-container{
    width: 25%;
    height: 100%;
    color: white;
    background-color: pink;
    border: 2px solid black;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.char-img {
    margin: 20px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.more-info-btn{
    background-color: black;
    color: white;
    border: none;
    margin: 20px;
}

/*CSS for more information*/

.more-info-card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 70%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    color: white;
    text-align: center;
    padding: 2em;
}


#more-details{
    width: 100%;
    display: flex;
    justify-content: center;
}

.char-image{
    width: 250px;
    border-radius: 50%;
    border: 4px solid white;
}

.char-name{
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: 1px;
}

.char-main{
    margin-top: 2em;
}

.char-name::after{
    content: '';
    display: block;
    height: 1px;
    width: 2em;
    background: black;
    margin: 0.5em auto;
}

.char-text{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
}

/* responsive for character information card */
@media (min-width: 1300px){
    .more-info-card{
        flex-direction: row;
    }

    .char-main{
        text-align: left;
        margin-left: 100px;
    }

    .char-name::after{
        margin-left: 0;
    }

    .char-image{
        width: 400px;
    }
}

#char-wiki-info{
    min-width: 400px;
    margin-top: 50px;
    width: 70%;

}

.wiki-text{
    padding: 10px;
    text-align: justify;
}

.card{
    background: rgba(126, 80, 80, 0.466);
}